@import '~antd/dist/antd.css';

::-webkit-scrollbar{width:5px;height:5px;position:absolute;}
::-webkit-scrollbar-thumb{background-color:rgb(0, 94, 255)}
::-webkit-scrollbar-track{background-color: azure;}